<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierres Order Tracking</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="frame">
      @RenderBody()
    </div>
    @Html.Partial("Footer")
  </body>
</html>