@using VendorOrder.Models;

@{
  Layout = "_Layout";
}

@if (Model.GetAllOrders().Count == 0)
{
  <h3>@Model.Name has placed no orders</h3>
}

@foreach (Order order in Model.GetAllOrders())
{
  <h3>Type: @order.Type Amount: @order.Amount</h3>
}

<h4><a href="/Vendor/@Model.Id/Order/New">Add New Order</a></h4>
<h4><a href="/Vendor/@Model.Id">Back To Vendor</a></h4>